html, body {
    height: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #34353a;
    color: white;
    font-family: Montserrat;
    overflow: hidden;
    max-height: 100vh;
    min-height: 100vh;
}
main {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: safe center;
    text-align: center;
    overflow: auto;
    justify-content: safe center;
}
button {
    background-color: #34353a;
    border-radius: 5px;
    border: 1px solid #ffc86b;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 32px;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    transition: ease-in-out 0.5s;
    color: #ffc86b;
}

    button:hover {
        background-color: #ffc86b;
        color: #34353a;
    }
div#sim_container {
    height: 100%;
    display: flex;
    font-size: large;
    align-items: safe center;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
}


div#tile_details_container, div#chat_container {
    display: flex;
    flex-direction: column;
    align-items: safe center;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    height: 80%;
    max-width: 25%;
    min-width: 25%;
    padding: 10px;
    gap: 25px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #ffc86b #34353a;
}

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 16px;
    }

    *::-webkit-scrollbar-track {
        background: #34353a;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #ffc86b;
        border-radius: 10px;
        border: 3px solid #ffffff;
    }
div.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: safe space-between;
    border: 3px solid #3d3e42;
    border-radius: 5px;
}
    div.chat p {
        margin: 0px;
        padding: 10px;
        text-align: left;

    }
    div.chat p.header {
        text-align: center;
        background-color: #3d3e42;
        margin: 0px;
    }
.nav {
    display: flex;
    justify-content: center;
    background-color: #34353a;
    padding: 20px;
}

b {
    color: #ffc86b;
}
footer, header {
    padding: 25px;
    -webkit-box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 1);
    background-color: #3d3e42;
}

footer {
    text-align: center;
}
header {
    display: flex;
    gap: 10px;
    font-size: xx-large;
}

a {
    text-decoration: none;
    color: #696a6c !important;
    transition: 0.5s ease-in-out;
}

a:visited {
    color: #696a6c !important;
}

a:hover {
    color: deepskyblue;
    color: #ffc86b !important;
}

a.active {
    color: deepskyblue;
    color: #ffc86b !important;
}
.selected {
    background-color: #ffc86b !important;
}
.tile {
    transition: 0.5s ease-in-out;
}
.tile:hover {
    background-color: #ffc86b !important;
    cursor: pointer;
}
div.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: safe space-between;
    border-top: 3px solid #3d3e42;
    border-left: 3px solid #3d3e42;
    border-right: 3px solid #3d3e42;
    border-radius: 5px;
}

    div.details p {
        margin: 0px;
        padding: 10px;
        text-align: left;
        border-bottom: 3px solid #3d3e42;
    }
div.details p.header {
     text-align: center;
     background-color: #3d3e42;
     margin: 0px;
}
div.detail {
    display: flex;
    border-bottom: 3px solid #3d3e42;
}
div.stats {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    
}
div.detail img {
    padding: 10px;
    width: 64px;
    height: 64px;
    border-right: 3px solid #3d3e42;
}
div.targetInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

div.targetInfo img {
    border: none;
    width: 48px;
    height: 48px;
}

