@page
@model IndexModel
<h2>Aplikacja <b>Sim Web</b></h2>

<p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w <b>C#</b> i <b>Razor Pages</b>.</p>
<br />
<p>Mapa typu <b>@Model.MapName</b></p>
<br />
<img src="images/Csharp_Logo.png" />
